<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mushroom.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mushroom.address %>
</p>

<%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<%= link_to 'Back', mushrooms_path %>
