<div class="container">
  <div class="row">
    <%= form_tag movies_path, method: :get do %>
         <%= text_field_tag :query,"",
    class: "form-control",
    placeholder: "Find a movie"
  %>

    <% end %>

      <%= form_for Movie.new,  method: :get do |f|  %>
         <%= hidden_field_tag :sort, :title,
    class: "form-control"
  %>
      <%= f.submit "sort title" %>
    <% end %>

  </div>
  <div class="row">

    <div class="col-sm-8 col-sm-offset-2">
      <div id="movies">
        <% @movies.each do |movie| %>
          <h4><%= movie.title %></h4>
          <p><%= movie.syllabus %></p>
          <p> <%= movie.director.last_name %></p>
          <p> <%= movie.year %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
